In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_excel('path/to/file.xlsx', sheet_name='Sheet1', header=0)

In [ ]:
df.to_csv('path/to/file.csv', index=False)

In [4]:
data = pd.read_csv('data\\data.csv')
data.head()

,Станция,Номер линии,Дата,4/3/2024,4/2/2024,4/1/2024,3/31/2024,3/30/2024,3/29/2024,3/28/2024,...,1/10/2024,1/9/2024,1/8/2024,1/7/2024,1/6/2024,1/5/2024,1/4/2024,1/3/2024,1/2/2024,1/1/2024
0,Б.Рокоссовского,8,СОКОЛЬНИЧЕСКАЯ,16671,15113,2905,13998,12742,1217,17624,...,7280,4669,3812,5816,15740,13714,2561,11209,2722,4835
1,Черкизовская,8,СОКОЛЬНИЧЕСКАЯ,6248,5441,7991,14864,10015,9721,6623,...,13486,5061,3663,11353,6924,6496,15991,7029,3999,15638
2,Преображенск. пл,8,СОКОЛЬНИЧЕСКАЯ,14094,1132,6556,7265,4001,10961,6852,...,8176,9745,13281,15090,13309,8365,2811,5004,17068,17117
3,Сокольники СЛ,8,СОКОЛЬНИЧЕСКАЯ,18651,10083,6488,6409,9446,12051,15041,...,3637,14001,12049,15972,15545,18759,5573,15017,14176,5465
4,Красносельская,8,СОКОЛЬНИЧЕСКАЯ,7391,19339,15424,10725,5965,14682,18134,...,14194,7615,9321,16152,4581,7746,8936,11373,19561,1727

In [7]:
data.shape

(322, 97)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 97 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Станция      322 non-null    object
 1   Номер линии  322 non-null    int64
 2   Дата         322 non-null    object
 3   4/3/2024     322 non-null    int64
 4   4/2/2024     322 non-null    int64
 5   4/1/2024     322 non-null    int64
 6   3/31/2024    322 non-null    int64
 7   3/30/2024    322 non-null    int64
 8   3/29/2024    322 non-null    int64
 9   3/28/2024    322 non-null    int64
 10  3/27/2024    322 non-null    int64
 11  3/26/2024    322 non-null    int64
 12  3/25/2024    322 non-null    int64
 13  3/24/2024    322 non-null    int64
 14  3/23/2024    322 non-null    int64
 15  3/22/2024    322 non-null    int64
 16  3/21/2024    322 non-null    int64
 17  3/20/2024    322 non-null    int64
 18  3/19/2024    322 non-null    int64
 19  3/18/2024    322 non-null    int64
 20  3/17/2024    322 non-null    int64
 21  3/16/2024    322 non-null    int64
 22  3/15/2024    322 non-null    int64
 23  3/14/2024    322 non-null    int64
 24  3/13/2024    322 non-null    int64
 25  3/12/2024    322 non-null    int64
 26  3/11/2024    322 non-null    int64
 27  3/10/2024    322 non-null    int64
 28  3/9/2024     322 non-null    int64
 29  3/8/2024     322 non-null    int64
 30  3/7/2024     322 non-null    int64
 31  3/6/2024     322 non-null    int64
 32  3/5/2024     322 non-null    int64
 33  3/4/2024     322 non-null    int64
 34  3/3/2024     322 non-null    int64
 35  3/2/2024     322 non-null    int64
 36  3/1/2024     322 non-null    int64
 37  2/29/2024    322 non-null    int64
 38  2/28/2024    322 non-null    int64
 39  2/27/2024    322 non-null    int64
 40  2/26/2024    322 non-null    int64
 41  2/25/2024    322 non-null    int64
 42  2/24/2024    322 non-null    int64
 43  2/23/2024    322 non-null    int64
 44  2/22/2024    322 non-null    int64
 45  2/21/2024    322 non-null    int64
 46  2/20/2024    322 non-null    int64
 47  2/19/2024    322 non-null    int64
 48  2/18/2024    322 non-null    int64
 49  2/17/2024    322 non-null    int64
 50  2/16/2024    322 non-null    int64
 51  2/15/2024    322 non-null    int64
 52  2/14/2024    322 non-null    int64
 53  2/13/2024    322 non-null    int64
 54  2/12/2024    322 non-null    int64
 55  2/11/2024    322 non-null    int64
 56  2/10/2024    322 non-null    int64
 57  2/9/2024     322 non-null    int64
 58  2/8/2024     322 non-null    int64
 59  2/7/2024     322 non-null    int64
 60  2/6/2024     322 non-null    int64
 61  2/5/2024     322 non-null    int64
 62  2/4/2024     322 non-null    int64
 63  2/3/2024     322 non-null    int64
 64  2/2/2024     322 non-null    int64
 65  2/1/2024     322 non-null    int64
 66  1/31/2024    322 non-null    int64
 67  1/30/2024    322 non-null    int64
 68  1/29/2024    322 non-null    int64
 69  1/28/2024    322 non-null    int64
 70  1/27/2024    322 non-null    int64
 71  1/26/2024    322 non-null    int64
 72  1/25/2024    322 non-null    int64
 73  1/24/2024    322 non-null    int64
 74  1/23/2024    322 non-null    int64
 75  1/22/2024    322 non-null    int64
 76  1/21/2024    322 non-null    int64
 77  1/20/2024    322 non-null    int64
 78  1/19/2024    322 non-null    int64
 79  1/18/2024    322 non-null    int64
 80  1/17/2024    322 non-null    int64
 81  1/16/2024    322 non-null    int64
 82  1/15/2024    322 non-null    int64
 83  1/14/2024    322 non-null    int64
 84  1/13/2024    322 non-null    int64
 85  1/12/2024    322 non-null    int64
 86  1/11/2024    322 non-null    int64
 87  1/10/2024    322 non-null    int64
 88  1/9/2024     322 non-null    int64
 89  1/8/2024     322 non-null    int64
 90  1/7/2024     322 non-null    int64
 91  1/6/2024     322 non-null    int64
 92  1/5/2024     322 non-null    int64
 93  1/4/2024     322 non-null    int64
 94  1/3/2024     322 non-null    int64
 95  1/2/2024     322 non-null    int64
 96  1/1/2024     322 non-null    int64
dtypes: int64(95), object(2)
memory usage: 244.1+ KB

In [9]:
data.describe()

,Номер линии,4/3/2024,4/2/2024,4/1/2024,3/31/2024,3/30/2024,3/29/2024,3/28/2024,3/27/2024,3/26/2024,...,1/10/2024,1/9/2024,1/8/2024,1/7/2024,1/6/2024,1/5/2024,1/4/2024,1/3/2024,1/2/2024,1/1/2024
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,...,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000
mean,600.003106,10541.397516,10773.149068,10646.186335,10891.543478,10224.440994,9896.183230,10816.555901,10417.928571,10487.385093,...,10674.667702,10453.223602,10747.593168,10800.012422,11011.003106,9783.583851,10500.105590,10245.829193,10526.791925,10774.577640
std,790.140559,5388.876011,5520.337086,5553.427220,5588.684872,5464.406376,5375.932095,5435.532608,5679.882075,5439.834355,...,5446.223332,5440.166430,5239.276952,5456.765700,5380.292751,5453.386083,5280.640568,5473.316385,5390.053535,5423.018987
min,8.000000,1015.000000,1034.000000,1040.000000,1009.000000,1030.000000,1113.000000,1055.000000,1037.000000,1003.000000,...,1004.000000,1008.000000,1066.000000,1061.000000,1047.000000,1023.000000,1071.000000,1005.000000,1004.000000,1093.000000
25%,13.000000,5991.750000,6449.750000,6156.500000,5972.750000,5761.000000,5126.750000,5979.750000,5454.000000,5458.250000,...,6183.500000,5678.250000,6377.500000,6115.500000,6364.750000,5266.250000,5821.500000,5671.750000,5696.750000,5842.250000
50%,17.000000,10463.000000,10842.500000,10422.000000,11045.500000,9757.500000,9377.000000,11035.500000,10512.000000,11023.500000,...,10997.000000,10814.500000,10809.000000,11012.500000,11482.500000,9011.500000,10934.500000,10179.500000,10584.000000,10792.000000
75%,1691.000000,15132.500000,15220.250000,15425.500000,15807.000000,15204.000000,14230.000000,15611.250000,15052.750000,15257.750000,...,15173.250000,15084.500000,15211.750000,15519.000000,15680.750000,14260.250000,14593.750000,15271.750000,15092.000000,15481.250000
max,1779.000000,19856.000000,19994.000000,19901.000000,19837.000000,19902.000000,19867.000000,19970.000000,19994.000000,19882.000000,...,19887.000000,19965.000000,19815.000000,19905.000000,19974.000000,19936.000000,19919.000000,19960.000000,19883.000000,19991.000000

In [39]:
data['Станция'].unique()

array(['Б.Рокоссовского', 'Черкизовская', 'Преображенск. пл',
       'Сокольники СЛ', 'Красносельская', 'Комсомольск. СЛ',
       'Красные ворота', 'Чистые пруды', 'Лубянка', 'Охотный ряд',
       'Кропоткинская', 'Парк культуры СЛ', 'Фрунзенская', 'Спортивная',
       'Воробьёвы горы', 'Университет', 'Пр-т Вернадск.СЛ',
       'Юго-западная', 'Красногвардейск.', 'Домодедовская', 'Орехово',
       'Царицыно', 'Кантемировская', 'Коломенская', 'Автозаводская',
       'Павелецкая ЗЛ', 'Новокузнецкая', 'Театральная(Зам)', 'Тверская',
       'Маяковская', 'Белорусская ЗЛ', 'Динамо', 'Аэропорт', 'Сокол',
       'Войковская', 'Водный Стадион', 'Речной вокзал', 'Каширская',
       'Каховская', 'Варшавская', 'Киевская АПЛ', 'Смоленская АПЛ',
       'Арбатская АПЛ', 'Пл. Революции', 'Курская АПЛ', 'Бауманская',
       'Электрозав-я АПЛ', 'Семёновская', 'Партизанская', 'Измайловская',
       'Первомайская', 'Щёлковская', 'Александр. сад', 'Арбатская ФЛ',
       'Смоленская ФЛ', 'Студенческая', 'Кутузовская ФЛ', 'Фили',
       'Багратионовская', 'Филёвский парк', 'Пионерская', 'Кунцевская ФЛ',
       'Молодёжная', 'Крылатское', 'Белорусская КЛ', 'Новослободская',
       'Проспект Мира КЛ', 'Комсомольская КЛ', 'Курская КЛ',
       'Таганская КЛ', 'Павелецкая КЛ', 'Добрынинская', 'Октябрьская КЛ',
       'Парк культуры КЛ', 'Киевская КЛ', 'Краснопресненск.',
       'Новогиреево', 'Перово', 'Ш. Энтузиастов', 'Авиамотор-я КалЛ',
       'Площадь Ильича', 'Марксистская', 'Третьяковск.КалЛ', 'Медведково',
       'Бабушкинская', 'Свиблово', 'Ботанический сад', 'ВДНХ',
       'Алексеевская', 'Рижская', 'Пр-кт Мира КРЛ', 'Сухаревская',
       'Тургеневская', 'Китай-город КРЛ', 'Третьяковск. КРЛ',
       'Октябрьская КРЛ', 'Шаболовская', 'Ленинский пр-т',
       'Академическая', 'Профсоюзная', 'Новые Черёмушки', 'Калужская',
       'Беляево', 'Коньково', 'Тёплый стан', 'Ясенево', 'Новоясеневская',
       'Выхино', 'Рязанский пр-т', 'Кузьминки', 'Текстильщики ТКЛ',
       'Волгоградский пр', 'Пролетарская', 'Таганская ТКЛ',
       'Китай-город(Т-К)', 'Кузнецкий мост', 'Пушкинская', 'Баррикадная',
       'Улица 1905 года', 'Беговая', 'Полежаевская', 'Октябрьское поле',
       'Щукинская', 'Тушинская', 'Сходненская', 'Планерная', 'Алтуфьево',
       'Бибирево', 'Отрадное', 'Владыкино', 'Петр.-Разумовск.',
       'Тимирязевская', 'Дмитровская', 'Савёловская СТЛ', 'Менделеевская',
       'Цветной Бульвар', 'Чеховская', 'Боровицкая', 'Полянка',
       'Серпуховская', 'Тульская', 'Нагатинская', 'Нагорная',
       'Нахимовский пр-т', 'Севастопольская', 'Чертановская', 'Южная',
       'Пражская', 'Чкаловская', 'Римская', 'Крест. застава',
       'Кожуховская', 'Печатники ЛДЛ', 'Волжская', 'Люблино',
       'Братиславская', 'Марьино', 'Стенд', 'Библ. им. Ленина',
       'Дубровка', 'Ул. Ак. Янгеля', 'Аннино', 'Административная',
       'Б-р Дм. Донского', 'Парк Победы АПЛ', 'Старокачаловская',
       'Ул. Скобелевская', 'Б-р Адм. Ушакова', 'Ул. Горчакова',
       'Бунинская аллея', 'Трубная', 'Кунцевская АПЛ', 'Строгино',
       'Каширская (Ках.)', 'Киевская (Фил.)', 'Сретенский б-р',
       'Славянский бульв', 'Мякинино', 'Волоколамская', 'Митино',
       'Достоевская', 'Марьина Роща ЛДЛ', 'Борисово', 'Шипиловская',
       'Зябликово', 'Новокосино', 'Алма-Атинская', 'Пятницкое шоссе',
       'Жулебино', 'Лермонтовский пр', 'Котельники', 'Битцевский парк',
       'Лесопарковая', 'Дел. центр СолЛ', 'Парк Победы КС', 'Спартак',
       'Тропарёво', 'Румянцево', 'Саларьево', 'Технопарк', 'Шелепиха МЦК',
       'Шоссе энтуз.МЦК', 'Панфиловская МЦК', 'Стрешнево МЦК',
       'Балтийская МЦК', 'Коптево МЦК', 'Лихоборы МЦК', 'Владыкино МЦК',
       'Окружная МЦК', 'Б-р Рокоссов.МЦК', 'Локомотив МЦК',
       'Измайлово МЦК', 'Сокол. гора МЦК', 'Андроновка МЦК',
       'Угрешская МЦК', 'Дубровка МЦК', 'Автозавод. МЦК', 'ЗИЛ МЦК',
       'Хорошёво МЦК', 'Ростокино МЦК', 'Ботан. сад МЦК',
       'Белокаменная МЦК', 'Новохохлов-я МЦК', 'Верхн. Котлы МЦК',
       'Крымская МЦК', 'Нижегородск. МЦК', 'Лужники МЦК',
       'Кутузовская МЦК', 'Москва-Сити МЦК', 'Зорге МЦК',
       'Пл. Гагарина МЦК', 'Бутырская', 'Фонвизинская',
       'Петровско-Разум.', 'Минская', 'Ломоносов-ий п-т', 'Раменки',
       'Ломоносовск.пр-т', 'Парк Победы СолЛ', 'Воробьевы горы С',
       'Комсомольская 2', 'Выхино 2', 'Петровский парк', 'Дел. центр БКЛ',
       'Ховрино', 'Шелепиха', 'Хорошёвская', 'ЦСКА', 'Воробьёвы горы С',
       'Селигерская', 'Верхние Лихоборы', 'Окружная', 'Шелепиха(Солнц.)',
       'Хорошев-я(Солнц)', 'ЦСКА(Солнц.)', 'Петр.парк(Солнц)',
       'Мичурин.пр-тСолЛ', 'Озёрная', 'Говорово', 'Солнцево',
       'Боровское шоссе', 'Новопеределкино', 'Рассказовка', 'Беломорская',
       'Савёловская БКЛ', 'Филатов луг', 'Прокшино', 'Ольховая',
       'Коммунарка', 'Косино', 'Ул.Дмитриевского', 'Лухмановская',
       'Некрасовка', 'Юго-Восточная', 'Окская', 'Стахановская',
       'Нижегородская', 'Авиамоторная БКЛ', 'Лефортово', 'ТПУ Рязанская',
       'Авиамоторная нек', 'Лефортово нек.', 'Лефортово БКЛ',
       'Электрозав-я БКЛ', 'Народное Ополч-е', 'Мнёвники',
       'Электрозав-я нек', 'Хорошёвская(Мн)', 'Зюзино', 'Воронцовская',
       'Новаторская', 'Пр-т Вернад. БКЛ', 'Мичурин.пр-т БКЛ',
       'Аминьевская', 'Давыдково', 'Кунцевская БКЛ', 'Терехово',
       'Марьина Роща БКЛ', 'Рижская БКЛ', 'Сокольники БКЛ',
       'Текстильщики БКЛ', 'Печатники БКЛ', 'Нагатинский З-н',
       'Кленовый бульвар', 'Нижегород-я БКЛ', 'Каширская (Зам)',
       'Нижегород-я НБС', 'К', 'Пыхтино', 'Аэропорт Внуково', 'Яхромская',
       'Лианозово', 'Физтех', 'Текстильщики СЦ'], dtype=object)

In [ ]:
len(data['Станция'].to_list()) == len(data['Станция'].unique())

In [26]:
data['Станция'].value_counts() == 2

Станция
Авиамоторная БКЛ     True
Минская              True
Раменки              True
Фонвизинская         True
Бутырская            True
                    ...
Новоясеневская      False
Ясенево             False
Тёплый стан         False
Коньково            False
Текстильщики СЦ     False
Name: count, Length: 314, dtype: bool

In [20]:
len(data['Станция'].to_list())

322

In [42]:
# data.loc[data['Станция'] == 'Охотный ряд']['4/3/2024']
data.head()

,Станция,Номер линии,Дата,4/3/2024,4/2/2024,4/1/2024,3/31/2024,3/30/2024,3/29/2024,3/28/2024,...,1/10/2024,1/9/2024,1/8/2024,1/7/2024,1/6/2024,1/5/2024,1/4/2024,1/3/2024,1/2/2024,1/1/2024
0,Б.Рокоссовского,8,СОКОЛЬНИЧЕСКАЯ,16671,15113,2905,13998,12742,1217,17624,...,7280,4669,3812,5816,15740,13714,2561,11209,2722,4835
1,Черкизовская,8,СОКОЛЬНИЧЕСКАЯ,6248,5441,7991,14864,10015,9721,6623,...,13486,5061,3663,11353,6924,6496,15991,7029,3999,15638
2,Преображенск. пл,8,СОКОЛЬНИЧЕСКАЯ,14094,1132,6556,7265,4001,10961,6852,...,8176,9745,13281,15090,13309,8365,2811,5004,17068,17117
3,Сокольники СЛ,8,СОКОЛЬНИЧЕСКАЯ,18651,10083,6488,6409,9446,12051,15041,...,3637,14001,12049,15972,15545,18759,5573,15017,14176,5465
4,Красносельская,8,СОКОЛЬНИЧЕСКАЯ,7391,19339,15424,10725,5965,14682,18134,...,14194,7615,9321,16152,4581,7746,8936,11373,19561,1727

In [ ]:
import requests

API_URL = "https://api-inference.huggingface.co/models/cointegrated/rubert-tiny"
headers = {"Authorization": "Bearer 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"}

def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()
	
output = query({
	"inputs": "расскажи что такое arima [MASK]",
})
output

In [38]:
import requests

API_URL = "https://api-inference.huggingface.co/models/meta-llama/Llama-2-7b-chat-hf"
headers = {"Authorization": "Bearer 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"}

def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()
	
output = query({
	"inputs": "Can you please let us know more details about your ",
})
output

{'error': 'Model requires a Pro subscription; check out hf.co/pricing to learn more. Make sure to include your HF token in your query.'}

In [50]:
import requests
import os
from dotenv import load_dotenv
load_dotenv()
BOT_ID = os.environ.get("BOT_ID")
# PORT = os.environ.get("PORT")
USER_ID = os.environ.get("USER_ID")
API_TOKEN = os.environ.get("API_TOKEN")
# DB_NAME = os.environ.get("DB_NAME")

In [82]:
# """ты - внимательный читатель. Твоя задача - найти в тексте информацию о временной дате. Ключевые слова - вчера, 1 неделю назад, в прошлом месяце. Формат output - только конкретная дата. Сегодняшняя дата - 04/20/2024
# Текст - найди информацию об оттоке пассажиров за последнии 2-3 неделю"""
class Koza_llama_alpaca_lora_flex: 
    def __init__(self, prompt):
        self.prompt = prompt

    def output_date(self):
        url = 'https://api.coze.com/open_api/v2/chat'
        data = {'conversation_id': "123", 
            "bot_id": f"{BOT_ID}",
            "user": f"{USER_ID}",
            "query": self.prompt,
            "stream":False}
        headers = {'Authorization': f'Bearer {API_TOKEN}'}

        response = requests.post(url, data=data, headers=headers)

        return response.json()['messages'][0]['content']

    def output_station(self):
        url = 'https://api.coze.com/open_api/v2/chat'
        data = {'conversation_id': "123", 
            "bot_id": f"{BOT_ID}",
            "user": f"{USER_ID}",
            "query": self.prompt,
            "stream":False}
        headers = {'Authorization': f'Bearer {API_TOKEN}'}

        response = requests.post(url, data=data, headers=headers)

        return response.json()['messages'][0]['content']

    def output_data(self):
        try:
            
            query = pd.Series([data.loc[data['Станция'].lower() == f'{self.output_station()}'.lower()][f'{date}'] for date in self.output_date().split()]).astype(str).str.cat(sep=' ')
            
            return query

        except KeyError:
            print('response...')
        finally:
            print(query)

In [93]:
part_1 = Koza_llama_alpaca_lora_flex("""ты - внимательный читатель. Твоя задача - найти в тексте информацию о временной дате. Ключевые слова - вчера, 1 неделю назад, в прошлом месяце. Формат output - только конкретная дата, выведи все даты. Сегодняшняя дата - 04/03/2024, ее формат М/ДД/ГГГГ.
Текст - найди информацию об оттоке пассажиров за последний месяц, выведи все даты""")
# data.loc[data['Станция'] == f'{part_1.output_station()}'][f'{part_1.output_date()}']
part_1.output_date()

'03/03/2024\n02/07/2024\n02/04/2024'

In [ ]:
print('well done')